.gemini/
*.ps1
# Se houver outros arquivos que você não queira no GitHub, adicione aqui.

# Dependências
node_modules/

# Ambiente e Logs
.env
*.log

# Backups e Arquivos Temporários
backups/
backup-*/
functions_backup*/
*.bkp_functions
*mockup*.html
*mockup*.js
*mockup*.css
test*.js
